<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @static_page.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @static_page.email %>
</p>

<%= link_to 'Edit', edit_static_page_path(@static_page) %> |
<%= link_to 'Back', static_pages_path %>
